<table class="list-user_content" style="width: 100%">
    <thead>
      <tr>
        <th style="width: 35%">Tên</th>
        <th>Đang sử dụng</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
      <tr>
        <td style="width: 35%">
          🇻🇳 HCM 10GB/s (1)
        </td>
        <td>
          <span class="user-box"><strong>50</strong> 👨&zwj;💼</span>
        </td>
        <td>
          <div class="dot"></div>
        </td>
      </tr>
    </tbody>
  </table>