@use "../helpers/variable";

.page-icon{
    svg{
        line-height: 1;
        cursor: pointer;
        height:1.5rem;
        width:1.5rem;
        path, rect{
            transition:fill .3s;
            fill:#494b74;
        }
        &:hover path{
            fill:variable.$blueColor;
        }
    }
}