// ---------- Color ----------
$blackColor: #1a1a27;
$grayColor: #494b74;
$secondaryGrayColor: #9899ac;
$blueColor: #009ef7;
$whiteColor: #fff;
$bs-active-primary: #0095e8;
$bs-active-primary-bland: #009ef7;
$bs-active-info: #5014d0;
$bs-active-info-bland: #7239ea;

$darkText: #000;

$bs-active-danger: #d9214e;
$bs-active-danger-bland: #f1416c;
$bs-gray-100: #f5f8fa;
$bs-gray-200: #eff2f5;
$bs-gray-300: #e4e6ef;
$bs-gray-400: #b5b5c3;
$bs-gray-500: #a1a5b7;
$bs-gray-600: #7e8299;
$bs-gray-900: #181c32;
$backGround-body-color: #f0f3f8;



// ---------- Fonts ----------
$fontFamily: Poppins, Helvetica, "sans-serif";

html {
  --white--color: #{$whiteColor};
  --dark--text--color: #{$darkText};
  --gray--text--color: #{$bs-gray-900};
  --border-header-color: #{$bs-gray-200};
  --background--content: #f0f3f8;
  --block--progress--background: #{$bs-gray-100};

  --heading--title: #F8F9FC;
  --heading--table: #{$whiteColor};
  --hover-data-table:#e6f7ff;

  --heading-bottom--text--color: #{$bs-gray-500};

  --plan--box-bg: #f8fafb;
  --input--background: #f5f8fa;

  --gray--lighter--text:#{$bs-gray-400};
}

.dark-mode {
  --white--color: #1e1e2d;
  --dark--text--color:  #{$whiteColor};
  --gray--text--color: #{$whiteColor};
  --border-header-color: #{$blackColor};
  --background--content: #1e1e2d;
  --block--progress--background: var(--background--content);

  --heading--title: #1b1b28;
  --heading--table: #1b1b28;
  --hover-data-table: #1e1e2d;

  --heading-bottom--text--color:#{$whiteColor};

  --plan--box-bg:rgb(36, 37, 37);
  --input--background:rgb(36, 37, 37);

  --gray--lighter--text:#{$whiteColor};
}
