// ---------- Color ----------
$primaryColor: #f60001;
$secondaryColor: #e9b754;

$blackColor:#333;
$grayColor: #989898;
$secondaryGrayColor: #999;
$thirdGrayColor: #d0d0d0;
$grayBackground: #f5f5f5;

$whiteColor: #fff;

$yellowColor: #faca1a;
$brownColor:#9c614d;

// ---------- Fonts ----------
$fontFamily: 'Hanken Grotesk', sans-serif;
