@use "../helpers/variable";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.dark-mode {
  .block {
    background: #1b1b28;
  }
  .list-user {
    tbody {
      background: #1b1b28;
      color: #fff;
      td {
        span {
          opacity: 1 !important;
        }
      }
    }
  }
}

.block {
  padding: 2.3em;
  background-color: variable.$whiteColor;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-bottom: 50px;
  @include media-breakpoint-down(md) {
    padding: 2.3em 0.5rem;
  }
  h4 {
    color: var(--dark--text--color);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
  }
  .date-time {
    color: var(--dark--text--color);
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    transition: color 0.3s ease;
  }
  .progress {
    margin-bottom: 0.5rem;
  }
  p {
    span {
      color: var(--dark--text--color);
      font-size: 0.875rem;
      font-weight: 700 !important;
      transition: color 0.3s ease;
    }
  }
  .block_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.4em;
    .block_options-detail {
      font-size: 0.925em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      padding: 0.7em 0.8em;
      @include media-breakpoint-down(md) {
        font-size: 0.8em;
      }
      &.color-text-white {
        color: #fff;
        & > a {
          color: #fff;
        }
      }
      &.color-text-black {
        color: variable.$bs-gray-600;
        a {
          color: variable.$bs-gray-600;
        }
      }
      a {
        font-weight: 500;
        font-size: 1em;
        text-decoration: none;
      }
      i {
        padding-right: 0.4em;
        transition: color 0.3s ease;
      }
    }
  }
}

.list-user {
  border-radius: 3px;
  overflow: hidden;
  .list-user_header {
    background-color: var(--heading--title);
    transition: background-color 0.3s ease;
    padding: 0.8em 1em;
    h5 {
      color: var(--dark--text--color);
      font-size: 1em;
      font-weight: 400;
    }
  }
  .list-user_content {
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    thead {
      background: var(--heading--table);
      transition: background 0.3s ease;
      tr {
        color: var(--dark--text--color);
        border-bottom: 1px solid var(--border-header-color);
        transition: color 0.3s ease, border-bottom 0.3s ease;
        th {
          padding: 1.2em 0;
          font-weight: 500;
        }
      }
    }
    tbody {
      transition: background-color 0.3s ease;
      tr {
        transition: all 0.3s ease;

        &:not(:last-child) {
          border-bottom: 1px solid var(--border-header-color);
        }
        &:hover {
          background-color: var(--hover-data-table);
        }
        td {
          padding: 1.2em 0;
          span {
            opacity: 0.7;
            background-color: #fafafa;
            padding: 0.2em 1.1em;
            border: 1px solid variable.$bs-gray-300;
            transition: all 0.3s ease;
            strong {
              font-weight: 500;
              color: #181c32;
              font-weight: 600;
            }
            border-radius: 5px;
          }
          .dot {
            width: 0.4em;
            height: 0.4em;
            background-color: variable.$bs-active-primary;
            border-radius: 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.recharge {
  position: relative;
  padding: 2rem 2.25rem;
  border-radius: 1em;
  overflow: hidden;
  margin: 1.5em 0 2em 0;
  background-color: #1c325e;
  .recharge-background {
    img {
      position: absolute;
      width: 7.5em;
      bottom: 0;
      right: 0.8em;
    }
  }
  .recharge-content {
    .recharge-content_text {
      h3 {
        font-size: 2em;
        color: #fff;
        font-weight: 600;
        span {
          color: variable.$bs-active-danger-bland;
        }
      }
    }
    .recharge-content_btn {
      margin-top: 1.5em;
      button {
        border: none;
        padding: 0.8em 1.6em;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-left: 3.75rem;
  }
}
