.register {
  font-size: 10px;
  cursor: context-menu;
  @media only screen and (max-width: 376px) {
    font-size: 8px;
  }
  @media only screen and (min-height: 576px) {
    height: 100vh;
  }
  @media only screen and (min-width: 576px) and (max-width: 992px) and (min-height: 576px) {
    font-size: 14px;
  }
  @media only screen and (min-width: 1600px) {
    font-size: 13px;
  }
  &_wrapper {
    gap: 5em;
    .register_content {
      gap: 2.5em;
      .register_logo {
        margin-top: 6em;
        width: 5em;
      }
      .register_box {
        padding: 4em 3.8em 6em 3.8em;
        width: 47em;
        @media only screen and (max-width: 576px) {
          width: 100%;
        }
        &-header {
          h3 {
            font-size: 1.8em;
            font-weight: 600;
          }
          p {
            font-size: 1.2em;
            font-weight: 500;
            color: #b7c5de;
            margin-top: 0.7em;
            a {
              color: #00adf9;
              font-weight: 600;
              font-size: 1.1em;
              transition: all 0.8s ease;
              &:hover {
                color: #75d0fd;
              }
            }
          }
        }
        form {
          padding: 2.5em 0 1em;
          border-bottom: 1px solid #c5c6cc;
          .form-email {
            &_text {
              color: #181c32;
              font-weight: 600;
              font-size: 1.1em;
            }
            &_input {
              margin-top: 0.3em;
              padding: 0.2em 0.6em;
              background-color: #f5f8fa;
            }
          }
          .form-password {
            margin-top: 2em;
            &_text {
              color: #181c32;
              font-weight: 600;
              font-size: 1.1em;
              a {
                color: #00adf9;
                transition: all 0.8s ease;
                &:hover {
                  color: #75d0fd;
                }
              }
            }
            &_input {
              margin-top: 0.3em;
              padding: 0.2em 0.6em;
              background-color: #f5f8fa;
              i {
                font-size: 1.5em;
                font-weight: 100;
                color: #c5c6cc;
                padding-right: 0.5em;
              }
            }
            &_intensity {
              padding: 0.7em 0 0.8em;
              gap: 0.6em;
              &-box {
                height: 0.4em;
                background-color: #e4e6ef;
                &.active {
                  background-color: #50cd89;
                }
              }
            }
            &_notice {
              color: #a1a5b7;
              font-size: 1.05em;
            }
          }
          .form-password-repeat {
            margin-top: 2em;
            &_text {
              color: #181c32;
              font-weight: 600;
              font-size: 1.1em;
            }
            .form-password-repeat_input {
              margin-top: 0.3em;
              padding: 0.2em 0.6em;
              background-color: #f5f8fa;
            }
          }
          .form-password_agree {
            gap: 0.5em;
            margin-top: 1em;
            input[type="checkbox"] {
              width: 1.6em;
              height: 1.6em;
            }
            span {
              margin-top: 0.2em;
              font-size: 1.1em;
              font-weight: 500;
              color: #636278;
              a {
                color: #009ef7;
                &:hover {
                  color: #47b8fa;
                }
              }
            }
          }
          .register-btn {
            margin-top: 2.5em;
            padding: 0.8em 1.6em;
            font-size: 1.15em;
            font-weight: 500;
            background-color: #009ef7;
            border: none;
            transition: all 0.2s ease;
            &:hover {
              background-color: #0394e9;
            }
          }
        }
        .register_box-contact {
          margin-top: 1em;
          h4 {
            font-size: 1.3em;
            font-weight: 600;
          }
          &_social {
            margin-top: 1.4em;
            gap: 2.5em;
            height: 2.5em;
            a {
              display: block;
              width: 3em;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .register_about {
      gap: 1em;
      padding-bottom: 2em;
      a {
        color: #c5c6cc;
        font-size: 1.1em;
        transition: all 0.3s ease;
        font-weight: 500;
        &:hover {
          color: #009ef7;
        }
      }
    }
  }
}
