@use "../helpers/variable";
.user-name {
  background-color: var(--white--color);
  padding: 1.5rem;
  transition: background 0.3s ease;
  &-title {
    padding: 1.5rem 0 1.5rem;
    h3 {
      margin-bottom: 10px;
      color: var(--dark--text--color);
      transition: color 0.3s ease;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .user-name-content {
      margin-top: 10px;
    }
    p {
      font-size: 14px;
      color: variable.$grayColor;
    }
    .user-name-check {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      align-items: center;
      input[type="checkbox"] {
        margin-right: 10px;
        // height: 20px;
        // width: 20px;
      }
    }
    .user-name-info {
      font-size: 14px;
      color: variable.$grayColor;
      .user-name-link {
        color: variable.$bs-active-primary;
      }
    }
  }
  &-submit {
    // display: inline-block;
    text-align: center;
    transition: background 0.3s ease;
    button {
      font-size: 16px;
      border-radius: 0.3rem;
      background-color: var(--gray--text--color);
      font-weight: 500;
      margin: 0 auto;
      color: var(--white--color);
      padding: 1rem;
      // background: none;
      transition: background 0.3s ease;
      border: 1px solid var(--dark--text--color);
      &:hover {
        background-color: var(--white--color);
        color: var(--dark--text--color);
      }
    }
  }
}
