@use "../helpers/variable";
header {
  height: auto;
  box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.05);
  z-index: 3;
  background-color: variable.$whiteColor;
  .header-top-wrapper {
    border-bottom: 1px solid var(--border-header-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background:var(--white--color);
    transition: all .3s ease;
    .header-top {
      display: flex;
      align-items: center;
      .mobile-nav {
        .hamburger-nav {
          margin-right: 0.5rem;
          height: 55px;
          line-height: 55px;
          width: 30px;
        }
      }
      .changing-mode{
        i{
          font-size: 20px;
          vertical-align:-webkit-baseline-middle;
          transition: all .3s ease;
          color:var(--dark--text--color);
        }
      }
      .avatar {
        margin-left:20px;
        position: relative;
        i{
          font-size: 20px;
          vertical-align:-webkit-baseline-middle;
          transition: all .3s ease;
          color:var(--dark--text--color);
        }
      }
      .mobile-logo {
        img {
          height: 30px;
        }
      }
    }
  }
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 1em 1.8em;
  a{
    margin-right:10px;
    color:var(--heading-bottom--text--color);
    &:hover{
      color:variable.$blueColor;
    }
  }
  i{
    color:var(--dark--text--color);
    transition: color 0.3s ease;
    margin-right:10px;
  }
  &_options {
    font-size: 0.95em;
    font-weight: 500;
    color: var(--gray--text--color);
    transition: color 0.3s ease;
    &.active {
      font-size: 1.35rem;
      color: var(--dark--text--color);
      transition: color .3s ease;
      font-weight: 600;
    }
  }
  span {
    width: 1px;
    height: 18px;
    background-color: variable.$bs-gray-300;
    margin: 0 1em;
  }
}
