<div id="onload" class="modal fade message-homepage" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-normal text-uppercase">Thông báo</h5>
        </div>
        <div class="modal-body">
          <div class="box">
            <h2><span>Trung gian - Đổi tiền</span> inbox admin: <a href="#" class="text-primary text-transform-none">Tại đây</a></h2>
          </div>
          <p>Từ ngày 01/12/2022 Web chỉ hỗ trợ nạp rút chính chủ, cố tình vi phạm sẽ khoá tài khoản vĩnh viễn, không hoàn trả số dư</p>
          <p>thuê auto bank atm cho các web đối tác: <a class="text-primary text-uppercase" href="#">Xem tại đây</a></p>
          <p>api <span class="purple-color">đổi thẻ</span> cào tự động : <a class="text-primary text-uppercase" href="#">Xem tại đây</a></p>
          <p>bộ phận xử lý thẻ, check thẻ / rút tiền / hỗ trợ / đấu nối api: <a class="text-primary text-uppercase" href="#">tại đây</a></p>
          <p>tạo web con: <a class="text-primary text-uppercase" href="#">tại đây</a></p>
          <div class="box">
            <div class="text-warning text-transform-none">Lỗi rút tiền momo vui lòng ib ad:<a href="#" class="text-primary text-transform-none">Tại đây</a></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>